/* CARD LIST */
.card-list {
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: fit-content;
  max-height: 2069px;

  .ant-list-item {
    display: flex !important;
    justify-content: center !important;
  }

  &__view-more,
  &__view-more:hover,
  &__view-more:focus {
    background: linear-gradient(
      91.47deg,
      #da458f -6%,
      #da34dd 113.05%
    ) !important;
    border-radius: 4px;
    border: none !important;
    height: 70px !important;
    color: white !important;
  }
}
